@model SmartSensors.Service.ViewModels.SensorViewModel
@{
    ViewBag.Title = "Register new sensor";
}

<h2>@ViewBag.Title.</h2>

@using (Ajax.BeginForm("registersensor", "sensor", new AjaxOptions { HttpMethod = "POST", OnComplete = "redirectToHomePage" }, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>All fields are mandatory</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Action("SensorsDropDown")
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ValueType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @*@Html.Action("SensorsValueType")*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PollingInterval, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PollingInterval, new { @class = "form-control" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MinRange, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MinRange, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MaxRange, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MaxRange, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IsPublic, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.IsPublic, new { @class = "" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
}

<script type="text/javascript">
    function redirectToHomePage() {
        window.location ='http://localhost:61104';
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax-unobtrusive")
}
